.background-heat {
    height: 60vh;
    width: 100%;
    filter: brightness(40%);
}

.heat-first-header {
    text-align: center;
    font-weight: 800;
    margin-top: 3%;
    color: rgb(22, 122, 172);
}

.white {
    color: white;
}

.first-list-p {
    font-size: 20px;
}

.first-list {
    list-style-type: none;
}

.first-heating-sec {
    
    background-color: rgb(22, 122, 172);
    margin-top: 2%;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.first-pic-left {
    width: 100%;
    filter: brightness(30%);
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.gas-heading {
    font-weight: 700;
    font-size: 40px;
    margin-top: 4%;
}

.gas-para {
    font-size: 25px;
    margin-top: 5%;
    
}



.partTwo-heading {
    font-weight: 900;
    color: white;
}



.heating-bot-sec {
    background-color: white;
    margin-top: 7%;
    padding-left: 10%;
    padding-right: 10%;
    
}

.heating-bot-con {
    background-color: rgb(22, 122, 172);
    border: 20px solid white;
    border-style: double;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    
}

.small-end-heading {
    color: rgb(245, 244, 246);
    font-weight: 500;
    font-size: 40px;
}

.black {
    color: black;
}