
/* NAV BAR */


nav {
    background-color: white;
    height: 10vh;
}


.nav-dropdown-style {
    background-color: transparent;
    width: 50vw;
    border-radius: 30px;
    
    
}

.navbar-collapse {
    background-color: white;

}


.navbar-nav {
    background-color: transparent;
    margin-left: 30%;
    width: 200%;
}

.nav-link {
    color: rgb(42, 57, 156);
    font-size: 20px;
    font-weight: 800;
    
}

.nav-link:hover {
    color: black;
}



/* END OF NAV BAR */ 

/* FIRST BACKGROUND AND TEXT */

.main-background {
    height: 80vh;
    width: 100%;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.7;
    filter: grayscale();
}

.first-header {
    background-image: linear-gradient(rgba(42, 41, 41, 0.527),rgb(53, 52, 52)), url(Img/main-background.jpg);
    height: 100vh;
    width: 101%;
    
}



.first-header-text {
    color: white;
    font-weight: 900;
    margin-top: 25%;
    font-size: 70px;
    opacity: 0.9;
}

@media (max-width: 700px) {
    .first-header-text {
        margin-top: 40%;
    }
}

@media (max-width: 500px) {
    .first-header-text {
        margin-top: 70%;
        font-size: 40px;
    }
}

.logo-front {
    position: absolute;
    width: 500px;
    top: 10%;
    left: 33%;
    opacity: 0.5;
}

@media (max-width: 1038px) {
    .logo-front {
        width: 400px;
        left: 20%;
    }
}

@media (max-width: 700px) {
    .logo-front {
        left: 15%;
    }
}

@media (max-width: 500px) {
    .logo-front {
        left: 1%;
    }
}



/* END OF FIRST BACKGROUND */

/* HEATING COOLING AND SPLIT SYSTEMS */ 

.first-con {
    flex-wrap: wrap;
    margin-top: 5%;
    margin-bottom: 7%;
}

.learn-more-tabs {
    margin-top: 1%;
    
}

.heating-first-div {
    display: flex;
    flex-direction: column;
    height: 300px;
    padding-top: 2%;
    width: 33%;
    color: rgb(12, 12, 12);
    background-color: rgb(227, 228, 228);
    
    
}

.heating-first-div:hover {
    background-color: rgb(84, 170, 235);
    color: white;
    transition: 1s;
}

@media (max-width:600px) {
    .heating-first-div {

        width: 100%;
    }
}



.cooling-second-div {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 33.5%;
    padding-top: 2%;
    color: rgb(2, 2, 2);
    background-color: rgb(220, 221, 221);
    
}

.cooling-second-div:hover {
    background-color: rgb(84, 170, 235);
    color: white;
    transition: 1s;
}

@media (max-width:600px) {
    .cooling-second-div {

        width: 100%;
    }
}



.splitSystem-div {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 33.5%;
    padding-top: 2%;
    color: rgb(4, 3, 3);
    background-color: rgb(227, 228, 228);
    
    
}

.splitSystem-div:hover {
    background-color: rgb(84, 170, 235);
    color: white;
    transition: 1s;
}

@media (max-width:600px) {
    .splitSystem-div {

        width: 100%;
    }
}



.learn-more {
    
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    background-color: rgb(59, 58, 58);
    border-radius: 20px;
    margin-top: 8%;
    font-weight: 700;
}

.learn-more:hover {
    background-color: white;
    color: black;
    
}

@media (min-width:1400px) {
   .learn-more {
    margin-top: 2%;
   }
}

.logo-first {
    margin-top: 2%;
    padding-bottom: 5%;
    font-size: 25px;
}

.heading-learns {
    font-weight: 800;
}

/* END OF HEATING AND COOLING SPLIT SYSTEMS DIVS */ 

/* FIRST WRITING AND PIC */

.fast-res-heading {
    font-weight: 800;
    color: rgb(66, 90, 198);
    
}

.fast-res-para {
    margin-left: 17%;
    font-size: 17px;
    font-weight: 700;
}

.bedroom-pic {
    width: 99%;
    height: 500px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    
}

.list-writing {
    width: 50%;
    font-weight: 500;
    background-color: rgb(30, 94, 178);
    color: white;
    border-top-right-radius: 30px;
}

@media (max-width:900px) {
    .list-writing {
        width: 100%;
    }
}

.para-pic-row {
    display: flex;
    flex-wrap: wrap;
}

/* END OF WRITING AND PIC */

.room-pic-two {
    width: 100%;
    height: 500px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    

}

.weight {
    font-weight: 500;
}

.helping-header {
    color: rgb(18, 84, 141);
    font-weight: 700;
}





/* LAST CONTAINER */

.last-con {
    width: 80%;
    height: 500px;
    overflow-y: scroll;
    
}

@media (max-width:800px) {
    .last-nav-con {
        padding-bottom: 10%;
    }
}

@media (max-width:600px) {
    .last-nav-con {
        padding-bottom: 20%;
    }
}

.last-nav-con {
    margin-top: 8%;
    width: 80%;
}

.last-con-text {
    font-size: 20px;
}


.blue {
    color: rgb(18, 84, 141);
}





/* END OF LAST CONTAINER */ 

/* REVIEW SECTION */ 




.review-header {
    font-weight: 800;
    color: rgb(18, 84, 141);
    

}

.review-box-one {
    background-color: rgb(114, 187, 242);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 20px 20px;
    width: 50%;
    font-size: 24px;
    color: white;
    font-weight: 600;
    opacity: 0.8;
}

@media (max-width: 600px) {
    .review-box-one {
        width: 100%;
    }
}



@media (max-width: 600px) {
    .review.pos {
        margin-top: -10%;
        
    }
}




.review-con {
    
    height: 60vh;
    background-image: linear-gradient(rgba(42, 41, 41, 0.527),rgb(53, 52, 52)),url(Img/realLogo.jpg);
    background-position: center;
    background-size:auto;
    background-repeat: no-repeat;

}





/* FOOTER START */ 

@media (max-width: 600px) {
    .footer-con {
        margin-left: 5%;
    }
}

.footer-row {
    height: 20vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-top: solid 1px rgb(0, 91, 195);
}

.footer-col-1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer-logo {
    width: 300px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    
    
}

.facebook-foot {
    font-size: 30px;
    
}

.insta-foot {
    font-size: 30px;
    
}

.footer-heading {
    font-weight: 800;
    border-bottom: 1px solid gray;
    font-size: 35px;

}


.foot-email {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.foot-number {
    font-size: 20px;
    font-weight: 500;
}

.foot-location {
    font-size: 20px;
    font-weight: 500;
}

.backgroundWhite {
    background-color: white;
}


/* SCROLL ANIMATIONS */

.myElement {
    opacity: 0;
    transform: translateX(-50%);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    
  }
  
.visible {
    opacity: 1;
    transform: translateX(0);
  }

