
/* NAV BAR */
nav {
    background-color: white;
    height: 19vh;

    
}

.nav-dropdown-style {
    background-color: white;
    
}

.navbar-nav {
    
    margin-left: 30%;
    width: 200%;
}

.nav-link {
    color: rgb(42, 57, 156);
    font-size: 20px;
    font-weight: 700;
}

.nav-pic {
    margin-left: 25%;
    
}

/* END OF NAV BAR */ 

/* FIRST BACKGROUND AND TEXT */

.main-background {
    height: 90vh;
    width: 100%;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.7;
    filter: grayscale();
}

.first-header {
    background-image: linear-gradient(rgba(42, 41, 41, 0.527),rgb(53, 52, 52)), url(Img/main-background.jpg);
    height: 100vh;
    width: 101%;
}

.first-header-text-one {
    color: white;
    opacity: 0.7;
    margin-top: 28%;
    margin-bottom: 1%;
    font-size: 30px;
    font-weight: 900;
    
}

.first-header-text {
    color: white;
    font-weight: 700;
    margin-bottom: 15%;
    font-size: 43px;
}

.first-header-text-two {
    color: rgb(27, 24, 24);
    position: absolute;
    width: 500px;
    top: 80%;
    margin-left: 31%;
    color: white;
    font-weight: 800;
    background-color: rgb(30, 94, 178);
    padding: 15px 20px;
    border-radius: 30px;
    font-size: 27px;
    text-decoration: none;
}

@media (max-width:800px) {
    .first-header-text-two {
        margin-left: 15%;
    }
}

/* END OF FIRST BACKGROUND */

/* HEATING COOLING AND SPLIT SYSTEMS */ 

.first-con {
    flex-wrap: wrap;
}

.learn-more-tabs {
    margin-top: 1%;
    
}

.heating-first-div {
    display: flex;
    flex-direction: column;
    height: 300px;
    padding-top: 2%;
    width: 33%;
    color: rgb(12, 12, 12);
    background-color: rgb(227, 228, 228);
    
    
}

.heating-first-div:hover {
    background-color: rgb(4, 91, 205);
    color: white;
    transition: 1s;
}

@media (max-width:600px) {
    .heating-first-div {

        width: 100%;
    }
}



.cooling-second-div {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 33.5%;
    padding-top: 2%;
    color: rgb(2, 2, 2);
    background-color: rgb(220, 221, 221);
    
}

.cooling-second-div:hover {
    background-color: rgb(4, 91, 205);
    color: white;
    transition: 1s;
}

@media (max-width:600px) {
    .cooling-second-div {

        width: 100%;
    }
}



.splitSystem-div {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 33.5%;
    padding-top: 2%;
    color: rgb(4, 3, 3);
    background-color: rgb(227, 228, 228);
    
    
}

.splitSystem-div:hover {
    background-color: rgb(4, 91, 205);
    color: white;
    transition: 1s;
}

@media (max-width:600px) {
    .splitSystem-div {

        width: 100%;
    }
}



.learn-more {
    
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    background-color: rgb(59, 58, 58);
    border-radius: 20px;
    margin-top: 8%;
    font-weight: 700;
}

.learn-more:hover {
    background-color: white;
    color: black;
    
}

.logo-first {
    margin-top: 2%;
    padding-bottom: 5%;
    font-size: 25px;
}

.heading-learns {
    font-weight: 800;
}

/* END OF HEATING AND COOLING SPLIT SYSTEMS DIVS */ 

/* FIRST WRITING AND PIC */

.fast-res-heading {
    font-weight: 800;
    color: rgb(66, 90, 198);
}

.fast-res-para {
    margin-left: 17%;
    font-size: 17px;
    font-weight: 700;
}

.bedroom-pic {
    width: 99%;
    height: 500px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    
}

.list-writing {
    width: 50%;
    font-weight: 500;
    background-color: rgb(30, 94, 178);
    color: white;
    border-top-right-radius: 30px;
}

@media (max-width:900px) {
    .list-writing {
        width: 100%;
    }
}

.para-pic-row {
    display: flex;
    flex-wrap: wrap;
}

/* END OF WRITING AND PIC */

.room-pic-two {
    width: 100%;
    height: 500px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    

}

.weight {
    font-weight: 500;
}

.helping-header {
    color: rgb(18, 84, 141);
    font-weight: 700;
}





/* LAST CONTAINER */

.last-con {
    
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    padding: 30px 30px;
    background-color: rgb(241, 241, 246);
}

.last-con-header {
    color: rgb(5, 83, 209);
    font-weight: 700;
    font-size: 45px;
}



.blue {
    color: rgb(18, 84, 141);
}

/* END OF LAST CONTAINER */ 

/* REVIEW SECTION */ 

.review-header {
    font-weight: 800;
    color: rgb(18, 84, 141);

}

.review-box-one {
    background-color: rgb(114, 187, 242);
    border-radius: 15px;
    padding: 20px 20px;

    
}

.review-pos {
    padding-top: 5%;
}

@media (max-width: 600px) {
    .review.pos {
        margin-top: -5%;
    }
}


.review-box-two {
    background-color: rgb(114, 187, 242);
    border-radius: 15px;
    padding: 20px 20px;
    
}

.review-con {
    
    height: 60vh;
    background-image: linear-gradient(rgba(42, 41, 41, 0.527),rgb(53, 52, 52)),url(Img/realLogo.jpg);
    background-position: center;
    background-size:auto;
    background-repeat: no-repeat;
}

/* FOOTER START */ 

.footer-row {
    height: 20vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-top: solid 1px rgb(0, 91, 195);
}

.footer-col-1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer-logo {
    width: 300px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    
    
}

.facebook-foot {
    font-size: 30px;
    
}

.insta-foot {
    font-size: 30px;
    
}

.footer-heading {
    font-weight: 800;
    border-bottom: 1px solid gray;
    font-size: 35px;

}


.foot-email {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.foot-number {
    font-size: 20px;
    font-weight: 500;
}

.foot-location {
    font-size: 20px;
    font-weight: 500;
}

.backgroundWhite {
    background-color: white;
}